body {
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}

div#d-label-numero, div#d-numero, div#d-bt-adicionar {
    display: inline;
}

div#d-selecionar, div#d-final {
    padding-top: 10px;
}

select#valor-selecionado {
    width: 150px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}